<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.abdocore.sharetohttp">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <activity android:name="de.abdocore.sharetohttp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- accept one image -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <!-- accept text -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <!-- accept multiple images -->
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>

        </activity>
    </application>

    <!-- host web server -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- get IP address -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- access shared images -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- copy images to cache to display in web server -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>



</manifest>